@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('../fonts/vcrmono-webfont.woff2') format('woff2'),
         url('../fonts/vcrmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');




root html, body, .App {
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    font-style: normal;
    background-color: #f5f5f5 !important;
}

.experiments-column {
    margin-top: 10vh;
}

/* .experiments-list {
  list-style-type: none;
  font-size: 18px;
  padding-left: 30px;
} */

.experiments-list-item {
    border: 1px solid rgb(158, 158, 158, 0.3) !important;
}

.experiments-list-item:hover {
    background-color: #410e172c;
}

.emoji {
    display: inline-block;
    margin-right: 10px;
}


/* card styling */

.card{
    background: #fff;
    border-radius: 4px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 20px 36px 20px 36px;
    box-shadow: 
        0 0.46875rem 2.1875rem rgb(59 62 102 / 3%),
        0 0.9375rem 1.40625rem rgb(59 62 102 / 3%),
        0 0.25rem 0.53125rem rgb(59 62 102 / 5%),
        0 0.125rem 0.1875rem rgb(59 62 102 / 3%);
}

/* .card:hover{
     transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */

.card li{
  font-weight: 600;
}

.card-detail {
    min-height: 70vh;
}

.mini-card {
    border-radius: 0px;
    box-shadow: none ;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    /* background-color: rgb(212, 212, 212) !important; */
    border: 1px solid rgb(43, 43, 43);
    border-radius: 8px;
}

.button-section {
    padding-top: 10px;
}

.button-detail {
    border: 10px;
}